* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #404040;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.container-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

/* TYPOGRAPHY */

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color:#fff;
    margin: 0;
}

h1 + p {
    text-transform: uppercase;
    color: #F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    margin: 0;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p {
    text-transform: uppercase;
    color: #F18119;
    font-weight: 900;
    margin-top: 0;
}

.top-text {
    font-size: 0.625rem;
    order: -1;
    color: #F18119;
    font-weight: 900;
    letter-spacing: 1px;
}

.bottom-text {
    font-size: 0.625rem;
    letter-spacing: 1;
}

.bold {
    font-weight: 900;
}

/* INTRO SECTION */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    background: grey;
    background-image: url('../img/ribs.jpg');
    background-position: center;
    background-size: cover;
    padding: 0 0.5em 2em;
}

/* REGISTER SECTION */

.register {
    min-height: 50vh;
    padding: 2em 1em;
}

/* REGISTARTION FORM */

.registration-form {
    display: flex;
    flex-direction: column;
}

input, button {
    font-family: inherit;
    text-align: inherit;
    font-size: inherit;
    margin-bottom: 1em;
    padding: 1em 2.5em;
    border-radius: 10px;
    border: 1px solid #404040;
}

btn {
    cursor: pointer;

}


/* MEIDA QUERIES */

@media (min-width: 675px) {
    main {
        display: flex;
    }

    body {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2, h1 + p {
        font-size: 1.75rem;
    }

    .intro {
        min-height: 100vh;
        min-width: 50vw;
    }

    .register {
        min-height: 100vh;
        min-width: 50vw;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-intro {
        height: 100%;
    }
}